<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <h1> Pikachu N°25</h1>
    <img src="Pikachu.jpg"/>
    <ul>
        <li>Height : 0.4m</li>
        <li>Weight : 6kgs</li>
        <li>Gender : M/F</li>
        <li>Category : mouse</li>
        <li>Abilities : static</li>
    </ul>
    <h2>Evolutions</h2>
    <img src="Pichu-RFVF.png"/>
    <img src= "Pikachu.jpg"/>
    <img src= "raichu.png"/>
</body>
</html>